

<p>
  <b>Payment status:</b>
  <%= Registration::PaymentStatuses[@registration.payment_status] %>
</p>

<p>
  <b>Approved:</b>
  <%= @registration.approved %>
</p>

<p>
  <b>Teaching assistant:</b>
  <%= @registration.teaching_assistant %>
</p>

<p>
  <b>Registration fee:</b>
  <%= @registration.registration_fee %>
</p>

<p>
  <b>User:</b>
  <%= @registration.user.email %>
</p>

<p>
  <b>Section:</b>
  <%= @registration.section.name %>
</p>

<p>
  <b>Study group:</b>
  <%= @registration.study_group.name %>
</p>

<p>
  <b>Class coordinator:</b>
  <%= @registration.class_coordinator %>
</p>

<p>
  <b>Study group leader:</b>
  <%= @registration.study_group_leader %>
</p>

<p>
  <b>Signup reason:</b>
  <%= @registration.signup_reason.name %>
</p>

<p>
  <b>Scholarship code:</b>
  <%= @registration.scholarship_code ? @registration.scholarship_code.code : "None"  %>
</p>


<%= link_to 'Edit', edit_department_course_section_registration_path(@registration.section.course.department, @registration.section.course, @registration.section, @registration) %> |
<%= link_to 'Back', department_course_section_path(@registration.section.course.department, @registration.section.course, @registration.section) %>
