<h1><%= @section.full_name %></h1>
<%= @section.description %><br/>
<%= @section.start_date %> through <%= @section.end_date %>
<p>
  <b>Registration status:</b>
  <%= Section::RegistrationStatuses[@section.registration_status] %> - <%= number_to_currency @section.registration_fee %>
</p>
<p>
  <b>Class length:</b>
  <%= @section.class_length %>
</p>
<p>
  <b>Max students:</b>
  <%= @section.max_students %>
</p>
<p>
  <b>Enrollment Count:</b>
  <%= @section.registrations.count %>
</p>
<%= link_to 'Edit', edit_department_course_section_path(@section.course.department, @section.course, @section) %> |
<%= link_to "Back to #{@section.course.name}", department_course_path(@section.course.department, @section.course) %>

<br/><br/>

<h2>Register for <%= @section.full_name %></h2>
<p style="background-color: yellow;">  
  <%= @section.registration_message if @section.show_message? %>
</p>
<%= button_to "Register Now", new_department_course_section_registration_path(@section.course.department, @section.course, @section), :method=>:get %>
