<h1><%= @course.department.name %> -> <%= @course.name %> (<%= @course.course_number %>)</h1>
<p>
  <b>Website:</b>
  <%= link_to @course.name, @course.website %>
</p>

<%= @course.description %>
<br/><br/>
<%= link_to 'Edit', edit_department_course_path(@course.department) %> |
<%= link_to "Back to courses in #{@course.department.name}", department_courses_path(@course.department) %>

<h2>Current Sections</h2>
<%= render partial: 'sections/in_course', :locals => {:sections => @course.current_sections }%>