<p id="notice"><%= notice %></p>

<p>
  <b>Department:</b>
  <%= @course.department_id %>
</p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Course number:</b>
  <%= @course.course_number %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<p>
  <b>Website:</b>
  <%= @course.website %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
