<%= form_for([@educational_resource.resource_list, @educational_resource]) do |f| %>
  <% if @educational_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@educational_resource.errors.count, "error") %> prohibited this educational_resource from being saved:</h2>

      <ul>
      <% @educational_resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
