<h1>Listing educational_resources</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @educational_resources.each do |educational_resource| %>
  <tr>
    <td><%= educational_resource.name %></td>
    <td><%= educational_resource.description %></td>
    <td><%= link_to 'Show', educational_resource %></td>
    <td><%= link_to 'Edit', edit_educational_resource_path(educational_resource) %></td>
    <td><%= link_to 'Destroy', educational_resource, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Educational resource', new_educational_resource_path %>
