<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @educational_resource.name %>
</p>

<p>
  <b>Description:</b>
  <%= @educational_resource.description %>
</p>


<%= link_to 'Edit', edit_resource_list_educational_resource_path(@educational_resource.resource_list, @educational_resource) %> |
<%= link_to 'Back', resource_list_educational_resources_path(@educational_resource.resource_list) %>
