<!DOCTYPE html>
<html>
<head>
  <title>How to avoid becoming a formerly-employed rails developer standing in line at the OOP kitchen</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Home", root_path %> |
  <%= link_to "Departments", departments_path %>
  
  <% if current_user %>
    | <%= link_to "Sign Out", destroy_user_session_path, :method=>:delete %>
  <% end %>
  
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>
  

<%= yield %>

</body>
</html>
